<main>
  <div class="left-block">
    <div class="title-block">
      <p class="title-tag open">&#60;h1&#62;</p>
      <p class="title-text">About</p>
      <p class="title-tag close">&#60;/h1&#62;</p>
    </div>

    <div class="paragraph-block">
      <p class="paragraph-tag open">&#60;p&#62;</p>
      <p class="paragraph-text">
        First of all, it's amazing that you are here, Welcome! My name is Yevhenii Kolisnyk and I based in Lodz, Poland.
        I enjoy working on absorbing projects, especially in a team. Now my main goal is to find work where I can
        improve my skills in web technologies.
      </p>
      <p class="paragraph-tag close">&#60;/p&#62;</p>
    </div>
  </div>

  <div class="right-block">
    <div class="img-wrapper">
      <img alt="" class="userpic" src="../../../assets/mainPage/userpic.png">
    </div>
  </div>

</main>
