$main-color: rgba(68, 211, 230);

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid $main-color;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 50px;

  .logo {
    font-size: 30px;
    text-decoration: none;
    color: $main-color;
  }
}

main{
  width: 100%;
  padding: 0 70px;

  .select__flex__block{
    width: 100%;

    .select__title{
      font-size: 24px;
      margin: 0;
      color: $main-color;

    }
  }

  .controls {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .controls__button{
      margin: 5px 5px 5px 0;
      padding: 10px 40px;
      height: 100%;
      border: 1px solid $main-color;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &:last-child{
        margin-right: 0;
      }
      &:hover {
        background-color: rgba(215,250,255,.623);
      }
    }
  }

  .field {
    width: 100%;
    height: 270px;
    border: 1px solid $main-color;
    display: flex;

    .field__example{
      min-width: 50%;
      height: 100%;
      border-right: 1px solid $main-color;
      display: flex;

      .field__example__child{
        font-size: 30px;
        margin: 4px;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #9cd9e4;
        color: #1c8395;
      }
    }
    .field__code{
      min-width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;

      .icon {
        color: $main-color;
        position: absolute;
        top: 10px;
        right: 10px;
        width: 24px;
        height: 24px;
        cursor: pointer;
      }

        .code {
          p {
            margin: 0;
            font-size: 18px;
          }
        }
    }
  }
}

@media only screen and (max-width: 900px) {
  main{
    padding: 0 40px 40px;
    .field{
      height: 540px;
      flex-direction: column;

        .field__example{
          height: 50%;
          border: none;
        }
      .field__code {
        height: 50%;
        border-top: 1px solid $main-color;
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  main {
    .field {
      height: 350px;
      .field__example{
        .field__example__child{
          width: 35px;
          height: 35px;
        }
      }
    }
  }
}
